<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="com.cogmento.automation.web Test Suite with Chrome">
	<listeners>
		<listener class-name="com.cogmento.automation.web.tool.ExtentReporter" />
	</listeners>
	<parameter name="baseUrl" value="https://cogmento.com" />
	<parameter name="browser" value="chrome" />

	 <test name="MyTest" thread-count="1">		
		<classes>
			<class name="com.cogmento.automation.web.test.MyTest" /> 		
		</classes>
	</test>
</suite> 
